# 01. intro

## 단축키

- ctrl + enter : 지금 셀 실행
- shift + enter : 지금 셀 실행 & 아래로 이동
- alt + enter : 지금 셀 실행 & 아래에 새로운 셀 추가

## 주의사항

1. Apple / apple
2. git add . / git add.
3. message / massage

In [2]:
# 주석을 나타냅니다.

# 1. 변수

변수이름 = 값

- 변수이름은 어떤 이름이든 상관 없음
- 다만 영어, 숫자, _ 를 이용하여 선언
- 키워드는 사용불가

In [3]:
a = 10

In [5]:
a

10

In [6]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### 1.1 number

In [7]:
a = 10000000

In [8]:
a

10000000

In [9]:
type(a)

int

In [10]:
b = 1.1

In [11]:
b

1.1

In [12]:
type(b)

float

In [13]:
c = 1 - 4j

In [14]:
c

(1-4j)

In [15]:
type(c)

complex

In [16]:
c.imag

-4.0

In [17]:
c.real

1.0

### 1.2 Boolean

True, False로 이루어진 타입

In [18]:
a = True

In [19]:
type(a)

bool

In [20]:
b = False

In [21]:
type(b)

bool

### 1.3 None

In [24]:
a = None

In [25]:
type(a)

NoneType

### 1.4 String

- 문자열은 `'` `"` 를 이용하여 표현

In [26]:
a = 'hello'

In [27]:
type(a)

str

In [28]:
b = "world"

In [29]:
type(b)

str

In [31]:
age = input()
print(age)
print(type(age))

 123

123
<class 'str'>

In [32]:
print('안녕하세요? '정승욱'입니다')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4019158887.py, line 1)

In [33]:
print('안녕하세요? "정승욱"입니다')

안녕하세요? "정승욱"입니다

In [34]:
print("안녕하세요? '정승욱'입니다")

안녕하세요? '정승욱'입니다

In [35]:
print('안녕하세요? \'정승욱\'입니다')

안녕하세요? '정승욱'입니다

In [36]:
a = '''
여기는 문자열입니다.
엔터를 쳐서 여러줄을 작성할 수 있습니다.
'''

In [37]:
print(a)

여기는 문자열입니다.
엔터를 쳐서 여러줄을 작성할 수 있습니다.

In [39]:
print('엔터를 입렵해봐요 \n다음줄입니다. \t 들여쓰기도 가능합니다')

엔터를 입렵해봐요
다음줄입니다. 	 들여쓰기도 가능합니다

In [44]:
print('하나', '둘', '셋', sep='!')

하나!둘!셋

### string interpolation

1. %-formatting
2. str.format()
3. f-string

In [46]:
age = 20

In [56]:
print('홍길동은 %s 살입니다.' % age)

홍길동은 20 살입니다.

In [49]:
print('홍길동은 {}살입니다.'.format(age))

홍길동은 20살입니다.

In [57]:
print(f'홍길동은 {age}살입니다.')

홍길동은 20살입니다.

## 2. 연산자

### 2.1 산술연산자

In [190]:
a = 2
b = 3

In [191]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b) ## a의 b제곱

5
-1
6
0.6666666666666666
8

In [192]:
# a를 b로 나눈 몫
print(a // b)

# a를 b로 나누고 나머지를 출력
print(a % b)

# a를 b로 나눈 몫, 나머지 출력
print(divmod(a, b))

0
2
(0, 2)

### 2.2 비교연산자

In [64]:
a = 5
b = 10

In [65]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [66]:
print(a == b)
print(a != b)

False
True

In [67]:
print('hi' == 'hi')
print('HI' == 'hi')

True
False

### 2.3 논리연산자

- and : 양쪽 모두 True일때, True를 반환
- or : 양쪽 모두 False 일때, False를 반환
- not : 값을 반대로 전환

In [69]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [71]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [73]:
print(True)
print(not True)

True
False

In [75]:
# 단축평가(and)
print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)

5
0
0
0

In [76]:
# 단축평가(or)
print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)

3
3
5
0

### 2.3 복합연산자

In [85]:
a = 1
b = 2

In [86]:
a = a + b
a = a - b
a = a * b
a = a / b
a = a // b
a = a % b
a = a ** b

In [87]:
a += b
a -= b
a /= b
a //= b
a %= b 
a **= b

### 2.4 기타연산자

In [88]:
a = 'hi'
b = 'hello'

In [90]:
# concatenation
a + b

'hihello'

In [92]:
a = [1, 2, 3]
b = [4, 5, 6]

In [94]:
# concatenation
a + b

[1, 2, 3, 4, 5, 6]

In [97]:
# containment
print('a' in 'apple')
print('z' in 'apple')

True
False

In [99]:
# containment
print(1 in [1, 2, 3])
print(10 in [1, 2, 3])

True
False

In [102]:
# identity
a = 1
b = 1
print(a is b)
print(id(a))
print(id(b))

True
140720796853032
140720796853032

In [103]:
# identity
a = 123123
b = 123123
print(a is b)
print(id(a))
print(id(b))

False
2114718475408
2114718476368

### 우선순위

0. ()를 통해 그룹
1. **
2. 산술연산자(*, /)
3. 산술연산자(+, -)
4. 비교연산자, in, is
5. not
6. and
7. or

In [106]:
print(-3 ** 4)
print((-3)**4)

-81
81

## 3. 형변환
### 3.1 암시적 형변환

In [110]:
a = True
b = False
c = 1

In [111]:
print(a + c)
print(b + c)

2
1

In [112]:
int_num = 3
float_num = 3.3
complex_num = 1 + 3j

In [114]:
print(int_num + float_num)
print(int_num + complex_num)

6.3
(4+3j)

### 3.2 명시적 형변환

- int() : string, float를 int로 변환
- float() : string, int를 float로 변환
- str() : int, float 등을 string으로 변환
- bool() : int, list 등을 boolean으로 변환

In [115]:
a = 1
b = '번'

In [116]:
print(str(a) + b)

1번

In [117]:
a = '3'

In [119]:
type(int(a))

int

In [121]:
a = '3.3'

In [122]:
type(float(a))

float

In [193]:
a = 1
b = 0

In [194]:
print(bool(a))
print(bool(b))

True
False

In [196]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

## 4. 시퀀스(sequence) 자료형

시퀀스는 데이터의 순서대로 나열된 자료구조. (순서대로 나열되었다는 것은 정렬된것과 다르다)

1. 리스트
2. 튜플
3. 레인지
4. 문자열

### 4.1 List(배열)

- 선언 : 변수이름 = [value1, value2, value3 ...]
- 접근 : 변수이름[index]

In [128]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [133]:
location = ['서울', '대구', '대전']
print(location)
print(location[0])
location[1] = '부산'
print(location)

['서울', '대구', '대전']
서울
['서울', '부산', '대전']

### 4.2 Tuple
- 선언 : 변수이름 = (value1, value2, value3 ...)
- 접근 : 변수이름[index]
- 리스트와 유사하지만 수정 불가능(immutable)하다.

In [177]:
t = (1, 2, 3)
print(t)
print(type(t))
print(t[2])

(1, 2, 3)
<class 'tuple'>
3

In [178]:
# 수정 불가능으로 오류 발생
t[2] = 5

TypeError: 'tuple' object does not support item assignment

### 4.3 range

- range(n) : 0부터 n-1까지 범위
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s) : n부터 m-1까지 +s만큼 증가하는 범위

In [137]:
a = range(1)
print(type(a))

<class 'range'>

In [139]:
a = range(10)
print(a)
print(list(a))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [140]:
a = range(5, 15)
print(list(a))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [141]:
a = range(1, 10, 2)
print(list(a))

[1, 3, 5, 7, 9]

In [142]:
a = range(-1, -10, -1)
print(list(a))

[-1, -2, -3, -4, -5, -6, -7, -8, -9]

### 4.4 String
기본 데이터 구조 참고

### 4.5 시퀀스에서 활용가능한 연산/함수

In [149]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range = range(1, 100)
my_string = '12345'

In [150]:
# indexing
print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
2
2
2

In [179]:
# slicing
print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[1, 1]
(2, 3)
range(2, 4)
23

In [154]:
# slicing (k간격으로)
list(my_range[2:10:2])

[3, 5, 7, 9]

In [180]:
# in 으로 항목이 들어있는지 확인
print(1 in my_list)
print(1 in my_tuple)
print(1 in my_range)
print('1' in my_string)

True
True
True
True

In [156]:
print(1 not in my_list)
print(1 not in my_tuple)
print(1 not in my_range)
print('1' not in my_string)

False
False
False
False

In [157]:
# concatenation
print(my_list + [1, 2, 3])

[1, 2, 3, 4, 5, 1, 2, 3]

In [159]:
# *
print([0] * 3)
print([[0] * 3] * 3)

[0, 0, 0]
[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [161]:
print(len(my_list))

5

In [163]:
print(min(my_list))
print(max(my_list))

1
5

In [165]:
# 몇 개 들어있는지
my_list.count(1)

1

## 5. 시퀀스 데이터가 아닌 자료구조

### 5.1 Set

수학에서 사용하는 집합과 동일하게 처리 (중복된 값이 없음)

- 선언 : 변수이름 = {value1, value2, value3...}

In [184]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {3, 4, 5, 6, 7}

In [185]:
print(my_set_a - my_set_b)  # 차집합
print(my_set_a | my_set_b)  # 합집합
print(my_set_a & my_set_b)  # 교집합

{1, 2}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}

In [188]:
my_list = [1, 1, 1, 1, 1, 2, 2, 3, 4, 5, 6, 7]
print(list(set(my_list)))

[1, 2, 3, 4, 5, 6, 7]

### 5.2 Dictionary

- 선언 : 변수이름 = {key1: value1, key2: value2, ...}
- 접근 : 변수이름[key]
- dictionary는 key와 value가 쌍으로 이루어져있다.
- key에는 immutable한 모든것을 사용가능 (불변값: string, integer...)
- value에는 모든데이터 가능(list, dictionary도 가능)

In [172]:
my_dict = {'서울': '02', '경기': '031'}
my_dict['서울']

'02'

In [198]:
# key가 중복되면 나중에 할당된 값으로 덮어씌어진다.
dict_a = {
    'name': 'seungwook',
    'location': 'seoul',
    'location': 'seoul2'
}
print(dict_a)

{'name': 'seungwook', 'location': 'seoul2'}

In [203]:
print(dict_a.keys())
print(dict_a.values())

print('name' in dict_a.keys())
print('seoul2' in dict_a.values())

dict_keys(['name', 'location'])
dict_values(['seungwook', 'seoul2'])
True
True

# 데이터 타입

1. Number
2. Boolean
3. string

# 자료구조

- 시퀀스 자료형
1. [List] : mutable
2. (Tuple) : immutable
3. range() : immutable
4. 'String' : immutable

- 시퀀스가 아닌 자료형
1. {Set} : mutable
2. {Dict: ionary} : mutable