# 제어문

## 조건문 (if문)
1. `if`문은 반드시 일정한 참/거짓을 판단 할 수 있는 `조건식`과 함께 사용한다. (`if <조건식>:`)
 
2-1. `<조건식>`이 참인 경우 `:` 이후의 문장을 실행한다.

2-2. `<조건식>`이 거짓인 경우 `else:` 이후의 문장을 실행한다.

In [2]:
my_string = input()

if my_string == '12/25':
    print('크리스마스입니다.')
else:
    print('크리스마스가 아닙니다.')

 12/1

크리스마스가 아닙니다.

In [6]:
# 조건문을 사용해서 num에 들어있는 숫자가 홀수/짝수 인지 판별
num = input('숫자를 입력해주세요:')

if (int(num) % 2) == 0:
    print('짝수입니다')
else:
    print('홀수입니다')

숫자를 입력해주세요: 12

짝수입니다

In [8]:
# 조건식의 0, 1은 자동형변환이 일어나 False(0), True(1)로 변환된다.
num = input('숫자를 입력해주세요:')

if (int(num) % 2) :
    print('홀수입니다')
else:
    print('짝수입니다')

숫자를 입력해주세요: 21

홀수입니다

###  elif

```
if <조건식>:
    if 조건이 참인경우
elif <조건식>:
    elif 조건이 참인경우
...
else:
    위의 조건식에 하나도 부합하지 않는 경우 실행
```

In [10]:
score = input()

 99

In [19]:
# 90점 이상 A (95점이상 '참잘했어요')
# 80점 이상 B
# 70점 이상 C
# 나머지 F
score = int(input('점수를 입력하세요:'))

if score >= 90:
    print('A')
    if score >= 95:
        print('참잘했어요')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

점수를 입력하세요: 96

A
참잘했어요

## 조건표현식

```
true_value if <조건식> else false_value
```

In [22]:
print('True') if 1 > 0 else print('False')
print('True') if 1 < 0 else print('False')

True
False

In [24]:
num = -5
value = num if num>= 0 else 0
print(value)

0

In [25]:
num = -5
if num >= 0:
    value = num
else:
    value = 0
print(value)

0

In [26]:
num = 2
if num % 2 == 1:
    result = '홀수'
else:
    result = '짝수'
print(result)

짝수

In [35]:
num = 2
result = '홀수' if num % 2 == 1 else '짝수'
print(result)

짝수

# 반복문

## while문

```
while <조건식>:
    실행할 코드
```

In [1]:
a = 0

while a < 5:
    print(a)
    a += 1

0
1
2
3
4

In [6]:
# 사용자가 '안녕' 이라고 할때까지 계속 입력을 요청받는 코드

greeting = ''

while greeting != '안녕':
   greeting = input('안녕이라고해줘:')

안녕이라고해줘: 하이
안녕이라고해줘: 안녕

## for
정해진 범위 내의 반복

```
for variable in sequence:
    code
```

In [7]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [10]:
# for문을 사용해서 사용자가 입력한 데이터를 한글자씩 출력하는 코드

str = input('단어를 입력해주세요:')

for s in str:
    print(s)

단어를 입력해주세요: apple

a
p
p
l
e

In [14]:
# range 사용한 for문
for i in range(5):
    print(i)

0
1
2
3
4

In [15]:
# tuple 사용한 for문
for i in (1, 2, 3, 4, 5):
    print(i)

1
2
3
4
5

In [22]:
# 1~30까지 숫자 중에서 홀수만 담긴 리스트를 출력

a = list(range(1,31))
result = []

for i in a:
    if i % 2 == 1:
        result.append(i)
print(result)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [26]:
menus = ['라면', '김밥', '돈까스']

for menu in enumerate(menus):   #enumerate() : index값 필요할 때 사용
    print(menu[0])
    print(menu[1])

0
라면
1
김밥
2
돈까스

In [27]:
menus = ['라면', '김밥', '돈까스']

for idx, menu in enumerate(menus):   
    print(idx)
    print(menu)

0
라면
1
김밥
2
돈까스

## dictionary 반복

1. for key in dict:
2. for key in dict.keys():
3. for value in dict.values():
4. for key, value in dict.items():

In [30]:
info = {
    'name': 'seungwook',
    'location': 'seoul',
    'phone': '010-1234-1234'
}

In [33]:
for i in info:
    print(i)       # key에 접근
    print(info[i])  # value에 접근

name
seungwook
location
seoul
phone
010-1234-1234

In [34]:
blood_type = {
    'A': 5,
    'B': 4,
    'O': 2,
    'AB': 3
}

In [36]:
print('혈액형 목록')
for key in blood_type:    
    print(key)

혈액형 목록
A
B
O
AB

In [37]:
print('혈액형 목록')
for key in blood_type.keys():
    print(key)

혈액형 목록
A
B
O
AB

In [43]:
result = 0

for value in blood_type.values():
    result += value
print(f'총인원은 {result}명입니다')

총인원은 14명입니다

In [46]:
for key, value in blood_type.items():
    print(f'{key}형은 {value}명입니다')

A형은 5명입니다
B형은 4명입니다
O형은 2명입니다
AB형은 3명입니다

In [45]:
blood_type.items()

dict_items([('A', 5), ('B', 4), ('O', 2), ('AB', 3)])

### break
반복문을 종료시키는 키워드

In [48]:
for i in range(100):
    if i > 5:
        print('5 넘었어')
        break
    print(i)

0
1
2
3
4
5
5 넘었어

In [54]:
rice = ['보리', '보리', '보리', '쌀', '보리', '보리']

# 보리, 보리, 보리, 쌀, 잡았다!
for i in rice:
    print(i)
    if i == '쌀':
        print('잡았다!')
        break

보리
보리
보리
쌀
잡았다!

### continue
continue 이후의 코드를 실행하지 않고 다음 반복을 진행

In [55]:
for i in range(10):
    if i % 2:
        print(i)

1
3
5
7
9

In [56]:
for i in range(10):
    if i % 2:
        continue
    print(i)

0
2
4
6
8

In [57]:
age = [10, 35, 20, 18, 9, 40]

# 20살 넘은 경우에만 출력
for i in age:
    if i < 20:
        continue
    print(i)

35
20
40

### else
else문은 끝까지 반복이 진행된 후 실행됩니다.

In [59]:
for i in range(6):
    if i > 100:
        break
    print(i)
else:
    print('break 못만남')

0
1
2
3
4
5
break 못만남

In [61]:
# 반복문이 다 진행되지 않으면 else 실행되지 않는다.
for i in range(6):
    if i > 3:
        break
    print(i)
else:
    print('break 못만남')

0
1
2
3

In [63]:
numbers = [1, 3, 5, 7, 9]
print(3 in numbers)
print(2 in numbers)

True
False

In [67]:
numbers = [1, 3, 5, 7, 9]
target = 5

for num in numbers:
    if num == target:
        print('True')
        break
    print(num)
else:
    print('Target 못찾음')

1
3
True

### pass

In [68]:
if True:
    pass

### match

```
match value:
    case 조건:
        code
    case 조건:
        code
    case _:
        code
```

In [69]:
status = 100 

match status:
    case 400:
        print('Bad request')
    case 404:
        print('Not found')
    case _:
        print('someting is wrong')

someting is wrong